<%- include("partials/header.ejs") %>
<body>
    <div class="container">
        <p class="border-bottom mt-1"></p>
        <% games.forEach(game => { %>
        <div class="card flex-row my-5 cards">
            <img class="card-img-sm-left" src="<%= game.imageurl %>"/>
            <div class="card-body">
              <h4 class="card-title h2 h2-sm text-white"><%= game.name %></h4>
              <p class="card-text text-color"><b>Developer: </b><%= game.developer %> | <b>Played at: </b><%= game.playedat %></p>
              <p class="card-text text-color"><b>How strongly I recommend playing: </b><%= game.rating %>/10</p>
              <p class="card-text text-white"></p>
            </div>
        </div>
        <% }) %>
    </div>
</body>
</html>